PORT=3001
SUPABASE_URL=https://kuitffpwgoyrcyafslga.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1aXRmZnB3Z295cmN5YWZzbGdhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTQ3OTg4NiwiZXhwIjoyMDk3MDU1ODg2fQ.Ng_JyhQ4FQW3vFl6WUtLRqby0eRgSBc7FLpKKmmaQBY